 body{
     font-family: cursive;
     margin: 0px;

 }
 header{
     background-color: rgb(255, 185, 80);
     display: flex;
     justify-content: space-between;
     height: 70px;
     align-items: center;
 }
 .header figure{
     margin: 0px 0px 0px 20px;
     width: 100px;
     height: 86px;
 }
 .header figure img{
     width: inherit;
     height: inherit;
    
 }
 .menu{
     height: 90px;
 }
 ul{
     list-style: none;
     margin: 0px;
     padding: 0px;
     display: flex;
     height: inherit;
 }
 li{
     height: inherit;
 }
 .link{
     text-decoration-line: none;
     display: flex;
     height: inherit;
     align-items: center;
     margin: 0px 20px;
     padding: 0px 10px ;
     
 }
 h1, h2, h3, h4{
     font-family: fantasy; 
 }
 h1{
     margin: 0px;
     line-height: 150%;
     font-size: 20px;
     font-weight: normal;
     font-style: italic;
     padding: 20px;
 }
 h2{
     margin: 0px;
     padding: 20px 0px;
     text-transform: uppercase;
     color: rgba(0, 92, 128, 0.849);
     font-size: 30px;
 }
 .main{
     height: 200px;
     background-color: rgb(255, 185, 80); 
     display: flex;
     align-items: center;
     justify-content: space-between; 
 }
 .main figure{
     margin: 0px;
   }
 .main img{
     width: 300px;
     height: 200px;
 }
 .proyects{
     padding: 0px 30px 20px 30px;
     background: #ffe4c4;
 }
 .proyect{
     background: white;
     border-radius: 10px;
     box-shadow: 0px 0px 10px black;
     padding: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
       
 }
 .proyect-left{
     width: 500px;
     height: 500px;
 }
 .proyect-title{
     margin: 0px;
     font-size: 25px;
     margin-bottom: 10px;
 }
 .proyect-language{
     margin-top: 20px;
 }
 .proyect-date{
     margin-top: 20px;
 }
 .proyect-link{
     margin-top: 20px;
 }
 .proyect-description{
     width: inherit;
     margin-top: 20px;
 }
 .proyect-container-img{
     width: 400px;
     margin-top: 20px;
 }
 .proyect-img{
     width: inherit;
 }
 .experiences{
    padding: 0px 30px 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .experience{
     margin: 0px 20px 40px 0px;
     width: 480px;
     border-radius: 10px;
     overflow: hidden;
     flex-shrink: 0;
     background-color: #fafad2;
     }
 .experience-container-img{
     margin: 0px;
     width: inherit;
     height: 200px;
 }
 .experience-img{
     width: inherit;
     height: inherit;
     object-fit: cover;
 }
 .experience-down{
     margin: 20px 40px;
     margin-top: -40px;
     background-color: white;
     position: relative;
     padding: 20px;
     text-align: center;
     border-radius: 10px;
 }
 .experience-title{
     margin: 0px;
 }
 .experience-description{
     text-align: left;
 }
 .experience-down button{
     border: 10x solid #87cefa;
     padding: 10px 25px;
     cursor: pointer;
     border-radius: 5px;
     color: #87cefa;
 }
 .experience-mainTitle{
     margin-left: 30px;
     background-color: 0px;
 }
 .contact{
     display: flex;
     background-color: #ffe3de;
     justify-content: space-between;
     padding: 30px 60px 30px 20px; 
     align-items: center;   
 }
 .contact h2{
     margin-left: 10px;
 }
  
 .contact-form{
     margin-left: 30px;
     margin-top: 20px;
     
 }
 .contact-form input{
     border-color: slategrey;
     border-style: solid;
     padding: 5px 5px 5px 35px;
     border-radius: 5px;
     background-image: url(../img/icons8-correo-24.png);
     background-repeat: no-repeat;
     background-size: 25px;
     background-position: x 10px; 
 }
 .contact-form button{
     display: block;
     padding: 5px 15px;
     cursor: pointer;
     font-size: 14px;
     border: 1px solid white;
     background-color: transparent;
     margin-top: 10px;
     border-radius: 5px;
 }
 .redes{
     background-color: #ffe3de;
     display: flex;
 }
 .redes-link{
     width: 50px;
     height: 50px;
 }
 .redes-link.lin{
     background-image: url(../img/icons8-linkedin-50.png);
     background-size: 40px 40px;
     object-fit: cover;
     background-repeat: no-repeat;
     margin: 10px 10px 0px 10px;
 }
 .redes-link.facebook{
    background-image: url(../img/icons8-facebook-nuevo-16.png);
    background-size: 40px 40px;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 10px 10px 0px 10px;
}
.redes-link.instagram{
    background-image: url(../img/icons8-instagram-16.png);
    background-size: 40px 40px;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 10px 10px 0px 10px;
}
.redes-link.whatsapp{
    background-image: url(../img/icons8-whatsapp-16.png);
    background-size: 40px 40px;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 10px 10px 0px 10px;
}
 
 .footer{
     background-color: lightcoral;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 60px;  
 }
 .footer-details{
     display: flex;
     align-items: center;
 }
 
 .footer-details img{
     width: 20px;
     height: 20px;
     margin-left: 15px;
 }
 .wrapper{
     width: 1000px;
     margin: 0px auto;
     display: inherit;
     align-items: inherit;
     justify-content: inherit;
     height: inherit;
     flex-wrap: wrap;
 }
 @media screen and(max-width:800px)  {
     .header-text{
         text-align: center;
     }
     .menu{
         text-align:center;
     }
     .title-left{
         text-align: left;
         font-size: 35px;
     }
     
 }
 




 